* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.card {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
}
.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.card h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}