button:hover{
    color: red;

}
input:focus{
    color: red;
}
li::before{
    content: ">";
}
li::after{
    content:"<";
}
#a{
    background-color: red;
    color: black;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
#a:hover{
    background-color: green;
}
.box{
    width: 200px;
    height: 200px;
    background-color: red;
    transform: translate(100px,100px);
    transform: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    transform: translate3d(10px,20px,100px);
    animation: chacha 3s cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
@keyframes chacha {
    from{background-color: red;}
    to{background-color: green};
}