*{
    color:purple;
}
h3{
    color: yellow;
}
body{
    background-color: black;
}
.hi{
    color: blue;
}
#a{
    color: aqua;
}
p{
    background-color: rgb(100, 50, 49);
}

#bg{
    width: 100%;
    height: 100px;
    background-color: rgb(87, 7, 7);
    background: linear-gradient(to right bottom,red,yellow,cyan,purple);
}
#card{
    width: 200px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;

}
#h{
    border-width: 2px;
    border-style: solid;
    border-color: red;
    border-radius: 40px; ;
}
#c{
    width: 100px;
    height: 100px;
    background-image: url(https://plus.unsplash.com/premium_photo-1670333351937-68cb2735a0fd?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyfHx8ZW58MHx8fHx8);
    background-size: cover;
    background-position: center;
}   
