*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}   
html,body{
    width: 100%;
    height: 100%;
    background-color: #111;
}
#box{
    width: 100px;
    height:100px;
    background: linear-gradient(to right bottom ,red,yellow,cyan,blue);
    border-radius:10%;
    background-image: url(https://plus.unsplash.com/premium_photo-1671288795359-5a505b9c6663?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2fHx8ZW58MHx8fHx8);
    background-size: cover;
    background-position: center;
}
#car1{
    height: 200px;
    width: 200px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    
}
#car2{
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    top: 40%;
    left: 40%;
}
#car3{
    height: 200px;
    width: 200px;
    background-color: green;
    position: absolute;
    top: 30%;
    left: 30%;
}
#parent{
    width: 400px;
    height: 400px;
    background-color: red;
    position: relative;

}
#child{
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}