* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    padding: 1rem;
}

.view-1 {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    .top {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h1 {
            font-size: 3rem;
            span{
                opacity: 0.6;
            }
        }
    }
    .bottom{
        display: grid;
        grid-template-areas: 
        "a a b b"
        "a a b b"
        "a a b b"
        "a a b b"
        "a a b b"
        "a a c c"
        "a a c c"
        "a a c c";
        gap:1rem;
        max-height: 30rem;
        img{
            display: block;
            width: 100%;
            height: 100%
            
        }
        .img-a{
            grid-area: a;
            border-radius: 1rem;
        }
        .img-b{
            grid-area: c;
            border-radius: 1rem;
            aspect-ratio: 16/9;
        }
        .img-c{
            grid-area: b;
            border-radius: 1rem;
            aspect-ratio: 4/3;
        }
    }
}

@media (min-width: 1020px) {
    main{
        padding: 3rem;
    }
    .view-1 {
        flex-direction: row;
        gap: 3rem;
        .top{
            width: 50%;
            h1{
                font-size: 7rem;
            }
            p{
                font-size: 1.3rem;
                opacity: 0.9;
            }
        }
        .bottom{
            width: 50%;
            grid-template-areas: 
        ". . b b"
        "a a b b"
        "a a b b"
        "a a b b"
        "a a b b"
        "a a c c"
        "a a c c"
        ". . c c";
        }
        
    }
}
