* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #0e0e0e;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: wheat;
}

main {
  width: 100%;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
}
section img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
section h1 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 100;
}
section p {
  text-align: center;
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0.9rem 0;
  opacity: 0.6;
}
section br {
  display: none;
}

h1, p {
  color: white;
}

.view-2 {
  width: 100%;
  padding: 4rem 5rem;
  display: flex;
  justify-content: center;
}
.view-2 .marquee {
  display: flex;
  width: 50%;
  overflow: hidden;
  position: relative;
}
.view-2 .marquee::after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0e0e0e, transparent);
}
.view-2 .marquee::before {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to left, #0e0e0e, transparent);
}
.view-2 .marquee .text {
  display: flex;
  gap: 3rem;
  padding: 0 1.5rem;
  animation: marquee 10s linear infinite both;
}
.view-2 .marquee .text p {
  font-size: 2rem;
  font-weight: 300;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (min-width: 1080px) {
  html {
    font-size: clamp(16px, 1vw, 20px);
  }
  section img {
    width: 28%;
  }
  section h1 {
    font-size: 8.5rem;
  }
  section p {
    font-size: 1.5rem;
  }
  section p br {
    display: block;
  }
}